{% extends 'web/partials/base.html' %}


{% load static %}

{% block content %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Career</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">career</li>
					</ul>
				</div>
			</div>

			<div class="shape shape-1">
				<img src="{% static 'web/images/banner/toppage.png' %}" alt="Image">
			</div>
			<!-- <div class="shape shape-2">
				<img src="{% static 'web/images/page-title-shape-2.png' %}" alt="Image">
			</div> -->
		</div>
		<!-- End Page Title Area -->

		<!-- Start Success Area -->
		<!-- <section class="success-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>We provide transport & logistics services to deliver customer success</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-success">
							<i class="flaticon-supply-chain"></i>
							<h3>Supply chains solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna.</p>
								
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-success">
							<i class="flaticon-internet"></i>
							<h3>Internet fulfillment</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
						<div class="single-success">
							<i class="flaticon-distribution-1"></i>
							<h3>World freight forwarding</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna.</p>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Success Area -->

		<!-- Start Services Area -->
		<!-- <section class="services-area services-area-style-two bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Shipping services</span>
					<h2>What we can do for you</h2>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-1.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Road freight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-2.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Rail freight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-3.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Ocean freight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-4.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Airfreight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Services Area -->

		<!-- Start Logistics Solutions Area -->
		<!-- <section class="logistics-solutions-area logistics-solutions-area-style-two pt-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="logistics-solutions">
							<span>Logistics solutions</span>
							<h2>We provide the best solution for you</h2>

							<ul>
								<li>
									<i class="flaticon-warehouse-1"></i>
									<h3>Warehouse solutions</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar.</p>
								</li>

								<li>
									<i class="flaticon-warehouse"></i>
									<h3>Transport and distribution</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar.</p>
								</li>

								<li>
									<i class="flaticon-contract"></i>
									<h3>Order management</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar.</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="logistics-solutions-img bg-2">
							<div class="video-button">
								<a href="https://www.youtube.com/watch?v=cTxCqUwnLg4" class="popup-youtube">
									<i class="ri-play-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Logistics Solutions Area -->

		<!-- Start Pricing Area -->
		<section class="pricing-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Pricing plans</span>
					<h2>Choose your perfect plan</h2>
				</div>

				<div class="row">
					{% for c in career %}
					<div class="col-lg-4 col-md-6">
						<div class="single-pricing-box">
							<div class="pricing-title">
								<h3>{{c.jobname}}</h3>
								
							</div>
							
							<ul>
								<li>
									 {{c.discription | safe}}
								</li>
							
								<li>
									<b>your responsibility</b> {{c.job_responsibility | safe}}
								</li>
								<li>
								<b>educational requirments</b> {{c.educational_requirments | safe}}
								</li>
								<li>
									
								</li>
								<li>
								<b>	location:</b> {{c.location}}
								</li>
								<li>
								<b>	expected salary: </b> {{c.salary}} LPA
								</li>
								<li>
								<b>	vaccancy:</b> {{c.vaccancy}}
								</li>
								<li>
								<b>	experience:</b> {{c.experience}} years
								</li>
							</ul>

							<a class="invoices-preview-link default-btn" href="#" data-bs-toggle="modal"
                            data-bs-target="#invoices_preview"><i class="fe fe-eye"></i>Apply</a>
						</div>
					</div>
					{% endfor %}

					<!-- <div class="col-lg-4 col-md-6">
						<div class="single-pricing-box active">
							<div class="pricing-title">
								<h3>Business plan</h3>
								<h1>59 <sub><span>$</span> Per monthly</sub></h1>
							</div>

							<ul>
								<li>
									Orders dispatched per month
								</li>
								<li>
									1 Year fixed price
								</li>
								<li>
									Automatically picking
								</li>
								<li>
									Storage medium parcel size
								</li>
								<li>
									Special delivery
								</li>
								<li>
									24/7 Customer help desk
								</li>
							</ul>

							<a href="#" class="default-btn btn-two">
								<span>
									Purchase now
									<i class="ri-arrow-right-line"></i>
								</span>
							</a>
						</div>
					</div> -->

					<!-- <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
						<div class="single-pricing-box">
							<div class="pricing-title">
								<h3>Enterprise plan</h3>
								<h1>89 <sub><span>$</span> Per monthly</sub></h1>
							</div>

							<ul>
								<li>
									Orders dispatched per month
								</li>
								<li>
									2 Years fixed price
								</li>
								<li>
									Automatically picking
								</li>
								<li>
									Storage medium parcel size
								</li>
								<li>
									Special delivery
								</li>
								<li>
									24/7 Customer help desk
								</li>
							</ul>

							<a href="#" class="default-btn btn-two">
								<span>
									Purchase now
									<i class="ri-arrow-right-line"></i>
								</span>
							</a>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<!-- End Pricing Area -->
		<!-- starting form section -->


		<div class="modal custom-modal fade invoices-preview" id="invoices_preview" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-lg-12">
								<div class="card invoice-info-card">
									<div class="card-body pb-0">
										<div class="invoice-item invoice-item-one">
											<form method="POST">
												{% csrf_token %}
												<div class="row">
													<div class="col-lg-6 col-sm-6">
														<div class="form-group">
															<label class="form-label">Your name</label>
															<input type="text" name="clientname" class="form-control" required>
														</div>
													</div>
				
													<div class="col-lg-6 col-sm-6">
														<div class="form-group">
															<label class="form-label">Email address</label>
															<input type="email" name="email" class="form-control" required>
														</div>
													</div>

													
													<div class="form-group col-lg-6 col-sm-6">
														<label>Jobs Avalable</label>
														<select class="select form-control form-control-lg" id="client_contact_type"
															name="client_contact_type" required >
															<option  >------------</option>
															{% for career in career %}
															<option  value="{{career.jobname}}">{{career.jobname}}</option>
															{% endfor %}
														</select>
														
										            </div>
										
										  <div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label class="form-label">Resume</label>
												<input type="file" name="resume" class="form-control" required>
											</div>
										</div>
												</div> 
				
												<button type="submit" class="default-btn" >
													<span>
														Submit
														<i class="ri-send-plane-2-fill"></i>
													</span>
												</button>
											</form>
											
										</div>
		
										<div class="invoice-item invoice-table-wrap">
										</div>
		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		 	</div>
		</div>




		


		<!--ending form section  -->














		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
		<script>
			$(".apply_btn").on("click", function() {
				alert()
				$(".overlay").addClass("active");
			});
		
			function closeModal() {
				$(".overlay").removeClass("active");
			}
			$(".close_btn").on("click", function() {
				closeModal();
			});
			$(document).keyup(function(e) {
				if (e.keyCode == 27) {
					closeModal();
				}
		    });
		</script>



<script>


$(document).on("submit", "form.application_ajax", function (t) {
	t.preventDefault();
	var e = $(this),
		r = new FormData(this),
		a = e.attr("action"),
		o = e.hasClass("reset"),
		s = e.hasClass("reload"),
		n = e.hasClass("redirect"),
		c = e.attr("data-redirect");
	$.ajax({
		url: a,
		type: "POST",
		data: r,
		cache: !1,
		contentType: !1,
		processData: !1,
		dataType: "json",
		success: function (t) {
			var e = t.status,
				r = t.title,
				a = t.message;
			t.pk;
			"true" == e
				? ((r = r || "Success"),

				  Swal.fire({ title: r, text: a, icon: "success" }).then(function () {
					  n && (window.location.href = c), s && window.location.reload(), o && $(".ajax")[0].reset();
				  }))
				: ((r = r || "An Error Occurred"), Swal.fire({ title: r, text: a, icon: "error" }));
		},
		error: function (t) {
			Swal.fire({ title: "An error occurred", text: "something went wrong", icon: "error" });
		},
	});
});
$(document).ajaxStart(function() {
	$("#ajax_modal").show();
});
$(document).ajaxStop(function() {
	$("#ajax_modal").hide();
});
$("#multi_menu_toggler").click(function() {
	$(".multi_menu_widgets").toggleClass("active");
    });

</script>



















  

{% endblock %}