{% extends 'web/partials/base.html' %}


{% load static %}

{% block content %}




		<!-- Start Banner Area -->
		<section class="banner-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="banner-content">
							<span class="top-title">Welcome to zayan maritime</span>
							<h1> Transport and Logistics company</h1>
								
							<p>Zayan Maritime Transport and Logistics Company is a full-service logistics provider specializing in international freight forwarding, customs brokerage, warehousing, and distribution services. We provide our customers with a comprehensive suite of services to meet their global supply chain needs. Our experienced team of professionals is dedicated to providing</p>

							<div class="banner-btn">
								<a href="#contact" class="default-btn">
									<span>
										Request quotes
										<i class="ri-send-plane-2-fill"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shape shape-1">
				<img src="{% static 'web/images/banner/banner-shape-1.png' %}" alt="Images">
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start About Us Area -->
		<section class="about-us-area bg-color ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-content">
							<h2> <b> We provide transport & logistics services to deliver customer success</b> </h2>
							<p>We provide a range of transport and logistics services to help our customers achieve their goals. Our services include freight forwarding, warehousing, distribution, customs clearance, and more. We have a team of experienced professionals who are dedicated to providing the highest level of service and support to our customers.</p>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="about-year-content">
							<div class="about-year">
								<img src="{% static 'web/images/banner/30year.png' %}" alt="Images">
							</div>
	
							<h3>Year’s of experience in transport and logistics services</h3>
						</div>
					</div>
				</div>
			</div>
		</section>	
		<!-- End About Us Area -->

		<!-- Start Choose Us Area -->
		<section class="choose-us-area pt-100 pb-70">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="choose-us-img">
							<img src="{% static 'web/images/banner/index.cargo.png' %}" alt="Images">

							<div class="choose-us-shape-1">
								<img src="{% static 'web/images/choose-us/choose-us-shape-1.png' %}" alt="Images">
							</div>
							<div class="choose-us-shape-2">
								<img src="{% static 'web/images/choose-us/choose-us-shape-2.png' %}" alt="Images">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="choose-us-tab">
							<h2>Why should you choose Matro transport and logistics services?</h2>

							<div class="tab products-details-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<ul class="tabs">
											<li>
												Our history
												<i class="flaticon-biography"></i>
											</li>
											<li>
												Our vision
												<i class="flaticon-target"></i>
											</li>
											<li>
												Our mission
												<i class="flaticon-mission"></i>
											</li>
										</ul>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="tab_content">
											<div class="tabs_item">
												<div class="choose-tab-item item-1">
													<p> 
														Matro transport and logistics services offer a wide range of services that can help you move your goods quickly and efficiently. They provide a reliable and cost-effective solution for all your transportation needs. They have a team of experienced professionals who are dedicated to providing the best customer service and ensuring that your needs are met at its best.</p>
												</div>

												<div class="choose-tab-item item-2">
													<h3>Strong customer focus</h3>
													<p>Strong customer focus is a key attribute of successful businesses. It involves understanding customer needs and expectations, and then delivering products and services that meet or exceed those expectations. It also involves providing excellent customer service, responding quickly to customer inquiries, and resolving customer complaints in a timely manner. Companies that demonstrate</p>
												</div>

												<div class="choose-tab-item item-3">
													<h3>On-time delivery</h3>
													<p>We strive to deliver all orders on time. We understand the importance of timely delivery and make sure that all orders are shipped on time. We have a team of experienced professionals who are dedicated to ensuring that all orders are shipped on time. We also have a tracking system that allows us to monitor</p>
												</div>
											</div>

											<div class="tabs_item">
												<div class="choose-tab-item item-1">
													<p>test3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>

												<div class="choose-tab-item item-2">
													<h3>Strong customer focus</h3>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>

												<div class="choose-tab-item item-3">
													<h3>On time delivery</h3>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>
											</div>

											<div class="tabs_item">
												<div class="choose-tab-item item-1">
													<p>test 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>

												<div class="choose-tab-item item-2">
													<h3>Strong customer focus</h3>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>

												<div class="choose-tab-item item-3">
													<h3>On time delivery</h3>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo molestias temporibus commodi exercitationem reprehenderit ullam reiciendis odit magni, autem rerum id blanditiis in ducimus error quasi nisi iusto sunt reprehenderit ullam reiciendis odit</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Choose Us Area -->

		<!-- Start Services Area -->
		<section class="services-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Shipping services</span>
					<h2>What we can do for you</h2>
				</div>

				<div class="row">
					{% for s in service  %}
					<div class="col-lg-3 col-sm-6">
						
						<div class="single-services-box">
							<a href="{% url 'web:servicedetails' s.id %}">
								<img src="{{s.image.crop.266x193 }}" alt="Images">
							</a>
							<h3>
								<a href="{% url 'web:servicedetails' s.id %}">
									{{s.heading}}
								</a>
							</h3>
							<p>{{s.discription}} </p>
							<a href="{% url 'web:servicedetails' s.id %}" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
						
					</div>
					{% endfor %}
					<!-- <div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-2.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Rail freight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-3.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Ocean freight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-services-box">
							<a href="/servicedetails">
								<img src="{% static 'web/images/services/services-4.jpg' %}" alt="Images">
							</a>
							<h3>
								<a href="/servicedetails">
									Airfreight services
								</a>
							</h3>
							<p>It is a long established fact that a reader will be distracted...</p>
							<a href="/servicedetails" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<!-- End Services Area -->

		<!-- Start Logistics Solutions Area -->
		<section class="logistics-solutions-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="logistics-solutions">
							<span>Logistics solutions</span>
							<h2>We provide the best solution for you</h2>

							<ul>
								<li>
									<i class="flaticon-warehouse-1"></i>
									<h3>Warehouse solutions</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar eget tincidunt.</p>
								</li>

								<li>
									<i class="flaticon-warehouse"></i>
									<h3>Transport and distribution</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar eget tincidunt.</p>
								</li>

								<li>
									<i class="flaticon-contract"></i>
									<h3>Order management</h3>
									<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a lorem ipsum dolor sit amet tincidunt nibh pulvinar eget tincidunt.</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-7">
						<div class="logistics-solutions-img">
							<img src="{% static 'web/images/banner/video.png' %}" alt="Images"><div class="video-button">
								<a href="https://www.youtube.com/watch?v=cTxCqUwnLg4&ab_channel=taffarelvl">
									<i class="ri-play-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Logistics Solutions Area -->

		<!-- Start Counter Area -->
		<section class="counter-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="counter-bg">
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-6">
							<div class="single-counter">
								<i class="flaticon-new-year"></i>

								<div class="count-title">
									<h2>
										<span class="odometer" data-count="30">00</span> 
									</h2>
									<h4> years</h4>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 col-6">
							<div class="single-counter">
								<i class="flaticon-bus"></i>

								<div class="count-title">
									<h2>
										<span class="odometer" data-count="50">00</span> 
										<span class="target">+</span>
									</h2>
									<h4> vehicles</h4>
								</div>
							</div>
						</div>

						
						<div class="col-lg-3 col-sm-6 col-6">
							<div class="single-counter">
								<i class="flaticon-rating"></i>

								<div class="count-title">
									<h2>
										<span class="odometer" data-count="10">00</span> 
										<span class="target">K</span>
									</h2>
									<h4> clients</h4>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 col-6">
							<div class="single-counter">
								<i class="flaticon-package"></i>

								<div class="count-title">
									<h2>
										<span class="odometer" data-count="30">00</span> 
										<span class="target">K</span>
									</h2>
									<h4>Deliveries </h4>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Area -->

		<!-- Start Request A Quote Area -->
		<section class="request-quote-area ptb-100" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="request-quote-img"></div>
					</div>

					<div class="col-lg-5">
						<div class="request-quote-content">
							<span class="top-title">Request a quote</span>
							<h2>Tell us your needs, and our industry experts will respond</h2>
								<div class="row">
									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Your name</label>
    										<input type="text" id="clientname" class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Email address</label>
    										<input type="email" id="email" class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Phone</label>
    										<input type="number" id="clientPhone" class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Subject</label>
    										<input type="text" id="subject" class="form-control">
										</div>
									</div>

									<!-- <div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Freight type</label>
											<select>
												<option value="1">Road freight</option>	
												<option value="2">Rail freight</option>
												<option value="3">Ocean freight</option>
												<option value="4">Air freight</option>
											</select>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">City of departure</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Delivery city</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label class="form-label">Incoterms</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-3 col-sm-6">
										<div class="form-group">
											<label class="form-label">Weight</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-3 col-sm-6">
										<div class="form-group">
											<label class="form-label">Width</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-3 col-sm-6">
										<div class="form-group">
											<label class="form-label">Height</label>
    										<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-3 col-sm-6">
										<div class="form-group">
											<label class="form-label">Size</label>
    										<input type="text" class="form-control">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-sm-6">
										<label class="single-check">
											Fragile
											<input type="radio" checked="checked" name="radio-2">
											<span class="checkmark"></span>
										</label>
									</div>

									<div class="col-lg-3 col-sm-6">
										<label class="single-check">
											Express delivery   
											<input type="radio" name="radio-2">
											<span class="checkmark"></span>
										</label>
									</div>

									<div class="col-lg-3 col-sm-6">
										<label class="single-check">
											Insurance
											<input type="radio" name="radio-2">
											<span class="checkmark"></span>
										</label>
									</div>

									<div class="col-lg-3 col-sm-6">
										<label class="single-check">
											Urgent
											<input type="radio" name="radio-2">
											<span class="checkmark"></span>
										</label>
									</div> -->
									<div class="col-12">
							<div class="form-group">
								<label>Your message</label>
								<textarea name="message" class="form-control" id="message" cols="30" rows="8" data-error="Write your message"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>
								</div> 
								<button onclick="messageFun()" class="default-btn" >
										Request a quote
								</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Request A Quote Area -->

		<!-- Start Team Area -->
		
		<!-- End Team Area -->

		<!-- Start Testimonials Area -->
		<!-- <section class="testimonials-area ptb-100">
			<div class="container">
				<div class="section-title">
					<span>Testimonials</span>
					<h2>What people's say about us</h2>
				</div>

				<div class="testimonials-slider owl-carousel owl-theme">
					<div class="single-testimonials">
						<i class="ri-double-quotes-l"></i>

						<p>“ Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum.”</p>

						<img src="{% static 'web/images/testimonials/testimonials-1.jpg' %}" alt="Images">
						<div class="testimonials-title">
							<h3>Carol Mcdonald</h3>
							<span>Management</span>
						</div>
					</div>

					<div class="single-testimonials">
						<i class="ri-double-quotes-l"></i>

						<p>“ Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum.”</p>

						<img src="{% static 'web/images/testimonials/testimonials-2.jpg' %}" alt="Images">

						<div class="testimonials-title">
							<h3>Alex Mcdonald</h3>
							<span>Director</span>
						</div>
					</div>

					<div class="single-testimonials">
						<i class="ri-double-quotes-l"></i>

						<p>“ Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum.”</p>

						<img src="{% static 'web/images/testimonials/testimonials-2.jpg' %}" alt="Images">

						<div class="testimonials-title">
							<h3>Alex Mcdonald</h3>
							<span>Director</span>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Testimonials Area -->

		<!-- Start Blog Area -->
		<!--<section class="blog-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Blog post</span>
					<h2>Latest blog posts</h2>
				</div>

				 <div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-blog-box">
							<a href="blog-details.html">
								<img src="{% static 'web/images/blog/blog-1.jpg' %}" alt="Images">
							</a>
							<ul>
								<li>
									<i class="ri-calendar-line"></i>
									February 12, 2021 
								</li>
								<li>Transport</li>
							</ul>
							<h3>
								<a href="blog-details.html">
									Transport management for business
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing.</p>
							<a href="blog-details.html" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-blog-box">
							<a href="blog-details.html">
								<img src="{% static 'web/images/blog/blog-2.jpg' %}" alt="Images">
							</a>
							<ul>
								<li>
									<i class="ri-calendar-line"></i>
									February 11, 2021 
								</li>
								<li>Transport</li>
							</ul>
							<h3>
								<a href="blog-details.html">
									Contract logistics restructuring
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing.</p>
							<a href="blog-details.html" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
						<div class="single-blog-box">
							<a href="blog-details.html">
								<img src="{% static 'web/images/blog/blog-3.jpg' %}" alt="Images">
							</a>
							<ul>
								<li>
									<i class="ri-calendar-line"></i>
									February 10, 2021 
								</li>
								<li>Transport</li>
							</ul>
							<h3>
								<a href="blog-details.html">
									An important role of the supply chain
								</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing.</p>
							<a href="blog-details.html" class="read-more">
								Read more
								<i class="ri-add-circle-fill"></i>
							</a>
						</div>
					</div>
				</div> 
			</div>
		</section>-->
		<!-- End Blog Area -->

		<!-- Start Partner Area -->
		<!-- <div class="partner-area ptb-100">
			<div class="container">
				<div class="partner-bg">
					<div class="row">
						<div class="partner-slider owl-carousel owl-theme">
							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-1.png' %}" alt="Image">
								</a>
							</div>
	
							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-2.png' %}" alt="Image">
								</a>
							</div>
	
							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-3.png' %}" alt="Image">
								</a>
							</div>
	
							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-4.png' %}" alt="Image">
								</a>
							</div>
	
							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-5.png' %}" alt="Image">
								</a>
							</div>

							<div class="partner-item">
								<a href="/partner">
									<img src="{% static 'web/images/partner/partner-3.png' %}" alt="Image">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Partner Area -->

		<script>

		function messageFun(){
			// alert($('#clientPhone').val())
			$.ajax({
				url: 'message/',
				type:'POST',
				data:{
					'clientname': $('#clientname').val(),
					'email': $('#email').val(),
					'clientPhone': $('#clientPhone').val(),
					'subject': $('#subject').val(),
					'message': $('#message').val(),
				},
				success: function (responce) {
					alert(responce.link)
					window.location.href = responce.link
					// alert("success")
					
				}
			})
		}

		</script>
	

	

	


{% endblock %}











